# Importing Required Files

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,classification_report
import warnings
warnings.filterwarnings("ignore")

# Reading Csv file From Local Disk

In [8]:
x=pd.read_csv("C:\\Users\\KATA\\Documents\\DATA SCIENCE\\DataSets 1\\social.csv")

In [9]:
x.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Removing Unwanted Column

In [10]:
x.drop(["User ID"],axis=1,inplace=True)

# Converting Categorical Into dummies

In [11]:
x=pd.get_dummies(x,drop_first=True)

In [12]:
x.head()

   Age  EstimatedSalary  Purchased  Gender_Male
0   19            19000          0            1
1   35            20000          0            1
2   26            43000          0            0
3   27            57000          0            0
4   19            76000          0            1

# Builiding Model

In [14]:
a=x.drop(["Purchased"],axis=1)
b=x["Purchased"]

In [20]:
s=SVC(kernel="linear",C=0.4,gamma=0.6)

# Splitting The Data

In [21]:
x_train,x_test,y_train,y_test=train_test_split(a,b,test_size=0.2,random_state=123)

In [22]:
s.fit(x_train,y_train)

SVC(C=0.4, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.6, kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# Making Predections

In [23]:
pred=s.predict(x_test)

# Evulating The Model

In [24]:
print(confusion_matrix(y_test,pred))

[[47  3]
 [12 18]]

In [25]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.80      0.94      0.86        50
           1       0.86      0.60      0.71        30

    accuracy                           0.81        80
   macro avg       0.83      0.77      0.78        80
weighted avg       0.82      0.81      0.80        80